.sidenav-small {
    width: 40px;
}

.sidenav-full {
    min-width: 190px;

}

:root {
    --box-color: #E7E7EE;
}

body {
    /* background-color: #E7E7EE; */
    /* background-color: rgb(243, 240, 240); */
    background-color: var(--box-color);
    /* color: white; */
    /* text-transform: uppercase; */
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear;
}

@keyframes l25 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* if you want to use this scroll bar any where just add this class name and set max-height to that div whatever we want  */


.scrollable-container {
    overflow: auto;
}


.scrollable-container::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #b8b2b2;
    /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #47478c;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded edges */
}

.common-btn {

    color: white;
    background-color: #47478c;
    border: 0px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 17px;
    min-height: 40px;
    max-height: 40px;
    margin-top: 8px;
    margin-left: 10px;
}

.common-btn:hover {
    color: #47478c;
    background-color: white;
    transition: 0.3s;
    border: 1px solid;
}

.pagination {
    margin-top: 5px;
}

.border1 {
    border: 1px solid blue;
}


.tableStyle .MuiTableCell-root {
    text-align: center;
}

.tableBodyStyle .MuiTableCell-root {
    text-align: center;
    font-size: 14px;
}

.boxes {
    border: 1px solid black;
    /* margin: 1px; */
    margin-top: 20px;
    height: 150px;
    background-color: rgb(127, 141, 209);
    /* box-shadow: 1px 2px 4px black; */
    color: white;
    font-size: 24px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

.border1 {
    border: 1px solid black;
}

.ql-style .ql-editor {
    /* border: 2px solid black; */
    min-height: 65vh;
    max-height: 65vh;
    background-color: #f7f2dd;
}

.create-box {
    background-color: #ef3210;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 4px black;
}

.data-div {
    background-color: #f0eee7;
}


.topicNames {
    /* border: 1px solid black; */
    margin-top: 6px;
    /* text-align: center; */
    box-shadow: 1px 2px 4px grey;
    font-size: 22px;
    padding: 3px;
    cursor: pointer;

}

.topicNames:hover {
    /* color: blue; */
    background-color: rgb(83, 83, 253);
    color: white;
}