.sidenav-small {
    width: 40px;
}

.sidenav-full {
    min-width: 190px;

}

:root {
    --box-color: #E7E7EE;
}

body {
    /* background-color: #E7E7EE; */
    /* background-color: rgb(243, 240, 240); */
    background-color: var(--box-color);
    /* color: white; */
    /* text-transform: uppercase; */
}

.main-body {
    /* background-color: #c3c3c0; */
    border-top: 1px solid rgb(197, 197, 236);
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear;
}

@keyframes l25 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* if you want to use this scroll bar any where just add this class name and set max-height to that div whatever we want  */


.scrollable-container {
    overflow: auto;
}


.scrollable-container::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #b8b2b2;
    /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #47478c;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded edges */
}

.common-btn {

    color: white;
    background-color: #47478c;
    border: 0px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 17px;
    min-height: 40px;
    max-height: 40px;
    margin-top: 8px;
    margin-left: 10px;
}

.common-btn:hover {
    color: #47478c;
    background-color: white;
    transition: 0.3s;
    border: 1px solid;
}

.pagination {
    margin-top: 5px;
}

.border1 {
    border: 1px solid blue;
}


.tableStyle .MuiTableCell-root {
    text-align: center;
}

.tableBodyStyle .MuiTableCell-root {
    text-align: center;
    font-size: 14px;
}



.upper-side {
    height: 15px;
    width: 70px;
    background-color: #0e5985;
    position: relative;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    /* border-bottom: 1px solid rgb(163, 163, 194); */
    border-top-left-radius: 8px;
}

.boxes {
    height: 110px;
    width: 140px;
    background-color: #0e5985;
    /* box-shadow: 1px 2px 3px black; */
    /* color: #013858; */
    color: white;
}



.create-box {
    height: 110px;
    width: 140px;
    background-color: rgb(1, 1, 148);
    box-shadow: 1px 2px 3px black;
}

.upper-side-create {
    height: 15px;
    width: 70px;
    background-color: rgb(1, 1, 148);
    position: relative;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    /* border-bottom: 1px solid rgb(192, 75, 75); */
    border-top-left-radius: 8px;
}

.inner-box {
    height: 80px;
    color: white;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
}

.folder-heading {
    color: blue;
    text-decoration: underline;
    /* text-shadow: 8px 5px 6px white; */
}


.folder-container {
    min-height: 65vh;
    max-height: 65vh;
    padding-left: 50px;
    padding-top: 20px;
    box-shadow: 2px 2px 5px 1px grey;
    /* border: 1px solid; */
}


.ql-style {
    margin-top: 10px;
}

.border1 {
    border: 1px solid black;
}



.ql-style .ql-editor {
    /* border: 2px solid black; */
    /* margin-top: 10px; */
    min-height: 67vh;
    max-height: 67vh;
    background-color: #f7f2dd;
}



.data-div {
    background-color: #f0eee7;

}


.topicNames {
    margin-top: 6px;
    box-shadow: 2px 2px 4px grey;
    font-size: 17px;
    padding-left: 8px;
}

.names {
    width: 150px;
    cursor: pointer;
}


.new-topic {
    margin-top: 4px;
    text-align: center;
    box-shadow: 1px 2px 4px grey;
    background-color: #ef3210;
    color: white;
    font-size: 17px;
    padding: 3px;
    cursor: pointer;
}

.actionBtn {
    color: white;
}

.currentTopic {
    /* background-color: rgb(83, 83, 253); */
    color: blue;
    /* font-size: 23px; */
}

@media (max-width: 768px) {

    /* Target devices with width <= 768px */
    .heading {
        width: 280px;
        /* Limit width for mobile screens */
        white-space: nowrap;
        /* Prevent text wrapping */
        overflow: hidden;
        /* Hide overflowed text */
        text-overflow: ellipsis;
        /* Show three dots for overflow */
    }
}

.homepage {
    /* background-color: #c0bbbb; */
    height: 91.8vh;
}